openapi: 3.0.1
info:
  title: L0 Registry
  description: User Registry Service
  license:
    name: MIT
    url: https://github.com/tiki/l0-registry/blob/main/LICENSE
  version: 1.1.2
servers:
- url: https://registry.l0.mytiki.com
paths:
  /api/latest/id:
    post:
      tags:
      - ""
      summary: Register Address
      description: Register an address for a custom ID
      operationId: l0-registry-id-post
      parameters:
      - name: X-Address-Signature
        in: header
        required: true
        schema:
          type: string
      - name: X-Customer-Authorization
        in: header
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdAORsp'
      security:
      - oauth:
        - registry
  /api/latest/config:
    post:
      tags:
      - ""
      summary: Modify Config
      description: Modify a configuration
      operationId: l0-registry-config-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigAORsp'
      security:
      - oauth:
        - registry:admin
        - registry
  /api/latest/usage:
    get:
      tags:
      - ""
      summary: Get Usage
      description: Get an account's monthly usage
      operationId: l0-registry-usage-get
      parameters:
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsageAO'
      security:
      - oauth:
        - registry:admin
  /api/latest/id/{id}/pubkey:
    get:
      tags:
      - ""
      summary: Get Public Key
      description: Returns the public key for a custom ID
      operationId: l0-registry-id-get-pubkey
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdAORspKey'
      security:
      - oauth:
        - registry
  /api/latest/id/{id}/addresses:
    get:
      tags:
      - ""
      summary: Get Addresses
      description: Get addresses registered for a custom ID
      operationId: l0-registry-id-get
      parameters:
      - name: X-Address-Signature
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdAORsp'
      security:
      - oauth:
        - registry
  /api/latest/config/{app-id}:
    get:
      tags:
      - ""
      summary: Get Config
      description: Get a configuration
      operationId: l0-registry-config-get
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigAORsp'
      security:
      - oauth:
        - registry:admin
  /api/latest/id/{id}:
    delete:
      tags:
      - ""
      summary: Delete ID
      description: Delete a custom ID
      operationId: l0-registry-id-delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - oauth:
        - registry:admin
components:
  schemas:
    IdAOReq:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
    IdAORsp:
      type: object
      properties:
        signKey:
          type: string
        addresses:
          uniqueItems: true
          type: array
          items:
            type: string
    ConfigAOReq:
      type: object
      properties:
        appId:
          type: string
        jwksEndpoint:
          type: string
          format: uri
        verifySubject:
          type: boolean
    ConfigAORsp:
      type: object
      properties:
        appId:
          type: string
        jwksEndpoint:
          type: string
          format: uri
        verifySubject:
          type: boolean
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
    UsageAO:
      type: object
      properties:
        date:
          type: string
          format: date-time
        apps:
          type: array
          items:
            $ref: '#/components/schemas/UsageAOApp'
    UsageAOApp:
      type: object
      properties:
        appId:
          type: string
        total:
          type: integer
          format: int64
    IdAORspKey:
      type: object
      properties:
        key:
          type: string
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.l0.mytiki.com/api/latest/oauth/token
          refreshUrl: https://auth.l0.mytiki.com/api/latest/oauth/token
          scopes:
            registry: standard access
            registry:admin: admin access
